/* General Styles */
body {
    font-family: 'Montserrat', Arial, sans-serif;
    background-color: #1e2833;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url('main.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Container Styles */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    perspective: 1000px;
}

/* Heading Styles */
h1 {
    font-size: 3rem;
    font-weight: 800;
    color: #fff;
    margin-bottom: 2rem;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    animation: fadeIn 1s ease-in-out;
}

/* Video Container Styles */
.video-container {
    position: relative;
    width: 50%;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    transform-style: preserve-3d;
    transform-origin: center center;
    animation: rotateIn 1s ease-in-out;
}

#video,
#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#canvas {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
}

#video {
    width: 100%;
}
/* Output Container Styles */
#output-container {
    margin-top: 2rem;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 0.8rem;
    animation: fadeIn 1s ease-in-out;
}

#con{
    margin-bottom: 10px;
    font-size: 50px;
    padding-top: 40px;
    color: aqua;
}
#output-text {
    margin: 0;
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes rotateIn {
    0% {
        transform: rotateX(20deg) rotateY(20deg);
    }
    100% {
        transform: rotateX(0) rotateY(0);
    }
}